<form enctype="multipart/form-data" method = "POST" action = "{add}" class = "col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading"><p>Nuevo Libro</p></div>
        <div class="panel-body">
            <div class = "col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading"><p>Informacion del libro</p></div>
                    <div class="panel-body">
                        <div class="form-group ">
                            <label for="name">Nombre del Libro:</label>
                            <input type="text" class="form-control" id="name" name = "name" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Descripcion:</label>
                            <textarea class="form-control" rows="3" id="description" name = "description"></textarea>
                        </div>
                        <div class="form-group ">
                            <label for="front">Portada:</label>
                            <input type="file" id="front" name = "front">
                        </div>
                        <div class="form-group ">
                            <label for="number_page">Numero de paginas:</label>
                            <input type="number" class="form-control" id="number_page" name = "number_page" min ="0" max ="10000">
                        </div>
                        <div class="form-group ">
                            <label for="language">Idioma:</label><p>(3 caracteres)</p>
                            <input type="text" class="form-control" id="language" name = "language">
                        </div>
                        <div class="form-group ">
                            <label for="priority">Prioridad:</label>
                            <input type="number" class="form-control" id="priority" name = "priority" min ="0" max ="10">
                        </div>  
                        <div class="form-group ">
                            <label for="edition">Edicion:</label>
                            <input type="text" class="form-control" id="edition" name = "edition">
                        </div>         
                        <div class="form-group ">
                            <label for="publication_date">Fecha de publicacion:</label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker" id="publication_date" name = "publication_date">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>    
                        <div class="form-group ">
                            <label for="publishing_house">Editorial</label>
                            <select class="form-control" id="publishing_house" name = "publishing_house">
                                {select_house}
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="publication_country">Pais de publicacion</label>
                            <input type="text" class="form-control" id="publication_country" name = "publication_country">
                        </div>  
                    </div>
                </div>
            </div>
            <div class = "col-md-6">
                <div class="panel panel-warning ">
                    <div class="panel-heading"><p>Author y Categorias</p></div>
                    <div class="panel-body">
                        <div class="form-group ">
                            <label for="author1">Autor 1</label>
                            <select class="form-control" id="author1" name = "author1">
                                {select_author}
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="author2">Autor 2</label>
                            <select class="form-control" id="author2" name = "author2">
                                {select_author}
                            </select>
                        </div>  
                        <div class="form-group ">
                            <label for="author3">Autor 3</label>
                            <select class="form-control" id="author3" name = "author3">
                                {select_author}
                            </select>
                        </div>  
                        <div class="form-group ">
                            <label for="author4">Autor 4</label>
                            <select class="form-control" id="author4" name = "author4">
                                {select_author}
                            </select>
                        </div>    
                        <div class="form-group ">
                            <label for="gender1">Categoria 1</label>
                            <select class="form-control" id="gender1" name = "gender1">
                                {select_gender}
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="gender2">Categoria 2</label>
                            <select class="form-control" id="gender2" name = "gender2">
                                {select_gender}
                            </select>
                        </div>  
                        <div class="form-group ">
                            <label for="gender3">Categoria 3</label>
                            <select class="form-control" id="gender3" name = "gender3">
                                {select_gender}
                            </select>
                        </div>  
                        <div class="form-group ">
                            <label for="gender4">Categoria 4</label>
                            <select class="form-control" id="gender4" name = "gender4">
                                {select_gender}
                            </select>
                        </div>                                 
                    </div>
                </div>
            </div>
            <div>                                                          
            <button type="submit" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $('.datepicker').datepicker({
             format: "yyyy-mm-dd"
        });
    });
</script> 