 <form method = "POST" action = "{add}" class = "col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading"><p>Nueva Editorial</p></div>
        <div class="panel-body">
            <div class="form-group ">
                <label for="name">Nombre de la editorial:</label>
                <input type="text" class="form-control" id="name" name = "name">
            </div>
            <button type="submit" class="btn btn-success">Aceptar</button>
        </div>
    </div>
</form> 
