<form method = "POST" action = "{add}" class = "col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading"><p>Nuevo Author</p></div>
        <div class="panel-body">
            <div class="form-group ">
                <label for="name">Nombre del Author:</label>
                <input type="text" class="form-control" id="name" name = "name">
            </div>
            <div class="form-group">
                <label for="born_date">Fecha de nacimiento:</label>
                <div class="input-group">
                    <input type="text" class="form-control datepicker" name = "born_date">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>    
            <div class="form-group ">
                <label for="die_date">fecha de fallecimiento:</label>
                <div class="input-group">
                    <input type="text" class="form-control datepicker" id="die_date" name = "die_date">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <label for="nationality">Pais de origen:</label>
                <input type="text" class="form-control" id="nationality" name = "nationality">
            </div>
            <button type="submit" class="btn btn-success">Aceptar</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $('.datepicker').datepicker({
             format: "yyyy-mm-dd"
        });
    });
</script>     