 <form method = "POST" action = "{modify}" class = "col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading"><p>Modificar Categoria</p></div>
        <div class="panel-body">
            <div class="form-group ">
                <label for="name">Nombre de la categoria:</label>
                <input type="text" class="form-control" id="name" name = "name" value = "{name}">
            </div>
            <div class="form-group ">
                <label for="name">Descripcion:</label>
                <textarea class="form-control" rows="3" id="description" name = "description">{description}</textarea>
            </div>
            <a href = "{modify}"><button type="button" class="btn btn-danger">Cancelar</button></a>
            <button type="submit" class="btn btn-success" name ="id" value = "{id}">Aceptar</button>
        </div>
    </div>
</form> 