 <form method = "POST" action = "{modify}" class = "col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading"><p>Modificar Editorial</p></div>
        <div class="panel-body">
            <div class="form-group ">
                <label for="name">Nombre de la editorial:</label>
                <input type="text" class="form-control" id="name" name = "name">
            </div>
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </div>
</form>
<form method = "POST" action = "{edit}">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>MODIFICAR</th>
                <th>ELIMINAR</th>
            </tr>
        </thead>
        <tbody>
            {content}
        </tbody>
    </table>
</form>