 <form method = "POST" action = "{modify}" class = "col-xs-4">
    <div class="panel panel-primary">
        <div class="panel-heading"><p>Modificar Libro</p></div>
        <div class="panel-body">
            <div class="form-group ">
                <label for="name">Nombre del Libro:</label>
                <input type="text" class="form-control" id="name" name = "name">
            </div>
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </div>
</form>
<form method = "POST" action = "{edit}">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DESCRIPCION</th>
                <th class = "col-md-2">PORTADA</th>
                <th>NUMERO DE PAGINAS</th>
                <th>IDIOMA</th>
                <th>PRIORIDAD</th>
                <th>EDICION</th>
                <th>FECHA DE PUBLICACION</th>
                <th>EDITORIAL</th>
                <th>PAIS DE PUBLICACION</th>
                <th>MODIFICAR / ELIMINAR</th>
            </tr>
        </thead>
        <tbody>
            {content}
        </tbody>
    </table>
</form>